root = true

[*]
insert_final_newline = true

[*.!{cmd,bat}]
end_of_line = lf

[*.{cmd,bat}]
end_of_line = crlf

[{*.rb,Gemfile}]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Jekyll does not process HTML even to remove spaces :facepalm:
[*.{htm,html}]
indent_style = tab
trim_trailing_whitespace = false

[*.js]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.json]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.yml]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[.{editoronfig,gitattributes,gitignore}]
charset = utf-8
trim_trailing_whitespace = true
